{% extends 'base.html' %}
{% load static %}

{% block title %}
    Notifications List
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
{% endblock %}

{% block main_content %}
<main class="content">
    <div class="card">
        <div class="card-header">
            <h2>Notifications</h2>
        </div>
        {% for notification in notifications %}
            <div class="notification-item">
                <img src="{{ notification.sender.profile_picture.url }}" alt="Profile" class="profile-img">
                <div class="notification-content">
                    <p class="notification-text"><strong>{{ notification.sender.username }} </strong> - {{ notification.message }}</p>
                    <p class="notification-time">{{ notification.timestamp }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}