{% extends 'base.html' %}
{% load static %}

{% block title %}
    Post Feed
{% endblock %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/posts.css' %}">
{% endblock %}

{% block main_content %}
<main class="content">
    <!-- Create Post -->
    <div class="card post-form">
        <div class="create-post">
            {% if user.is_authenticated %}
                <img src="{{ user.profile_picture.url }}" alt="Profile" class="profile-img">
            {% else %}
                <img src="{% static 'media/default_profile_pic.png' %}" alt="Profile" class="profile-img">
            {% endif %}
        </div>

        <!-- Create Post form -->
        <form style="padding: 0 16px 16px;" method="post" action="{% url 'core:post' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="content" id="post-textarea" class="post-textarea" placeholder="What's on your mind?"></textarea>
            <div class="post-actions">
                <div class="file-input-container">
                    <label class="file-input-label">
                        <i class="fas fa-image"></i>
                        <span>Add Photo</span>
                        <input name="post_image" type="file" style="display: none;">
                    </label>
                </div>
                <button type="submit" class="post-button">Post</button>
            </div>
        </form>
    </div>

    <!-- Posts Feed -->
    {% for post in posts %}
    <div class="post-item">
        <div class="post-header"> <!-- user info -->
            <img src="{{ post.user.profile_picture.url }}" 
                            class="profile-img" 
                            alt="{{ post.user.username }}'s profile picture">
            <div class="post-user-info">
                <div class="post-username">
                    <a href="{% url 'core:profile' post.user.username %}">{{ post.user.username }}</a>
                </div>
                <div class="post-time">{{ post.timestamp|timesince }} ago</div>
            </div>
        </div>
        <div class="post-content">
            <!-- Post Content -->
            {% if post.content %}
                <div class="post-text">{{ post.content }}</div>
            {% endif %}

            <!-- Post Image -->
            {% if post.post_picture %}
                <img src="{{ post.post_picture.url }}" alt="Post image" class="post-image">
            {% endif %}

            <!-- Post Actions -->
            <div class="card-actions">

                <!-- Like Post -->
                <form class="action-button" method="post" action="{% url 'core:like_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit" class="action-button">
                        <i class="fas fa-thumbs-up"></i>
                        <span>
                            {% if post.is_liked %}
                                Unlike
                            {% else %}
                                Like
                            {% endif %}
                        </span> ({{ post.like_count }})
                    </button>
                </form>

                <!-- Delete Post -->
                {% if post.user == request.user %}
                    <form class="action-button" method="post" action="{% url 'core:delete_post' post.id %}">
                        {% csrf_token %}
                        <button type="submit"
                                class="action-button"
                                onclick="return confirm('Are you sure you want to delete this post?')">
                            <i class="fas fa-trash"></i>
                            <span>Delete</span>
                        </button>
                    </form>
                {% endif %}
            </div>

            <div class="comments-section">
                <!-- Comments -->
                {% for comment in post.comments.all %}
                    <div class="comment-item">
                        <div class="comment-header">
                            <div class="left-comment-header">
                                <img src="{{ comment.user.profile_picture.url }}" alt="Profile" class="profile-img">
                                <div class="comment-user-info">
                                    <div class="comment-username">{{ comment.user.username }}</div>
                                    <div class="comment-time">{{ comment.timestamp|timesince }} ago</div>
                                </div>
                            </div>
                            {% if comment.user == post.user or comment.user == request.user %}
                                <div class="right-comment-header">
                                    <a class="delete-button" href="{% url 'core:delete_comment' comment.id %}"
                                    onclick="return confirm('Are you sure you want to delete this comment?')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="comment-text">{{ comment.content }}</div>
                    </div>
                {% endfor %}
                <form class="comment-form" method="post" action="{% url 'core:add_comment' post.id %}">
                    {% csrf_token %}
                    <img src="{{ user.profile_picture.url }}" alt="Profile" class="profile-img">
                    <input type="text" name="content"class="comment-input" placeholder="Write a comment...">
                    <button type="submit" class="comment-button">Comment</button>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
        <!-- No posts available -->
        <div class="alert alert-info">No posts yet. Be the first to post!</div>
    {% endfor %}
</main>
{% endblock %}